@use 'askPlayerCountScreen';
@use 'creditScreen';
@use 'game';
@use 'snackbar';
@use 'winningScreen';

* {
  box-sizing: border-box;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
body {
  margin: 0;
  padding: 0;
  position: absolute;
  overflow: hidden;
  background-color: blanchedalmond;
  --primary-color: #3f51b5;
  --selected-player-count-underline-animation-speed: 300ms;
  --token-transition-speed: 0;
  --board-block-size: 0;
  --selected-player-count-underline-height: 4px;
  --game-start-text-show-duration: 0;
}
html {
  font-size: 16px;
}
body,
html {
  width: 100vw;
  height: 100vh;
}
.button-group {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 46;
}
.restart-btn {
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.buttons {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  padding: 4px 2px;
}
.buttons > * {
  margin: 0 3px;
}
.credit-btn {
  cursor: pointer;
  font-size: 11px;
  font-weight: 600;
  background-color: #eff3f6;
  color: #24292e;
  height: 20px;
  padding: 2px 5px;
  user-select: none;
  border: 1px solid #cfd3d6;
}
.credit-btn:hover,
.credit-btn:focus {
  background-color: #e9ebef;
  border-color: #caccd0;
}
.hide {
  display: none;
}
